<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{meta_title}}</title>

    <link href="{{asset "css/site.css"}}" rel="stylesheet">
    <meta name="description" content="{{meta_description}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:700,400" />

     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ghost_head}}
</head>

<body>

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><i class="fa fa-briefcase"></i> Marilyn & Fred's Big Day Off</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                <li><a class="subscribe-btn" href="{{@blog.url}}/rss/">Subscribe</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="main-content-wrapper">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="background"></div>
            <div class="text">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
                <li><a href="/about"><i class="fa fa-users fa-fw"></i> About</a></li>
                <li><a href="/waypoints"><i class="fa fa-map-marker fa-fw"></i> Waypoints</a></li>
            </ul>
            <h3>Categories</h3>
            <ul class="nav nav-sidebar">
                <li><a href="#">Food</a></li>
                <li><a href="#">Night life</a></li>
            </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{{body}}}
        </div>
    </div>
</div>
{{ghost_foot}}
<script src="{{asset "js/site.js"}}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54749306-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
